{{#if params}}
    <div class="form-group">
        <label class="control-label" for="{{params.name}}"><strong>{{name}}</strong></label>
        <textarea class="form-control description-rte"
                  {{#eq params.required 'yes'}}data-validation="required"{{/eq}}
                  name="commerce_form[attrs][{{params.name}}][value]"
                  id="{{params.name}}"
                  cols="{{params.config.width}}"
                  rows="{{params.config.height}}">{{value}}</textarea>
        <input type="hidden" name="commerce_form[attrs][{{params.name}}][id]" value="{{id}}" />
        <input type="hidden" name="commerce_form[attrs][{{params.name}}][name]" value="{{params.name}}" />
    </div>
    {{addscriptdeclaration "WC.utilities.applyRichText('textarea')"}}
{{/if}}