{{#if params}}
    <div class="form-group">
        <label class="control-label" for="{{params.name}}"><strong>{{name}}</strong></label>
        <input type="time"
               {{#eq params.required 'yes'}}data-validation="required"{{/eq}}
               {{#if params.min}}min="{{params.min}}"{{/if}}
               {{#if params.max}}max="{{params.max}}"{{/if}}
               class="form-control"
               name="commerce_form[attrs][{{params.name}}][value]"
               id="{{params.name}}" value="{{value}}"/>
        <input type="hidden" name="commerce_form[attrs][{{params.name}}][id]" value="{{id}}" />
        <input type="hidden" name="commerce_form[attrs][{{params.name}}][name]" value="{{params.name}}" />
    </div>
{{/if}}