{{#if params}}
    <div class="form-group">
        <label class="control-label" for="{{params.name}}"><strong>{{name}}</strong></label>
       <textarea class="form-control"
                 {{#eq params.required 'yes'}}data-validation="required"{{/eq}}
                 name="commerce_form[attrs][{{params.name}}][value]"
                 id="{{params.name}}">{{value}}</textarea>
        <input type="hidden" name="commerce_form[attrs][{{params.name}}][id]" value="{{id}}" />
        <input type="hidden" name="commerce_form[attrs][{{params.name}}][name]" value="{{params.name}}" />
    </div>
{{/if}}