<div class="form-group">
    <div class="row">
        <div class="col-6"><h3>{{i18n 'LABEL_SETUP'}} - {{field_type_title}}</h3></div>
        <div class="col-6">
            <div class="text-right">
                <a href="javascript:void(0)" title="{{i18n 'ADD'}}" onclick="WC.formUtil.productManager.fieldTypeAddConfigItem()"><i class="fa fa-plus-circle"></i></a>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-1">&nbsp;</div>
        <div class="col-4">Value</div>
        <div class="col-5">Text (display to end user)</div>
        <div class="col-2">&nbsp;</div>
    </div>
    <ol class="field-type-config-item-container">
        {{#if config.key}}
            {{#foreach config.key}}
                {{#elementnotempty ../config.value @index}}
                    <li class="field-type-config-item">
                        <div class="row">
                            <div class="col-1"><i class="fas fa-arrows-alt"></i></div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="commerce_form[params][config][key][]" value="{{this}}" />
                            </div>
                            <div class="col-5">
                                <input type="text" class="form-control" name="commerce_form[params][config][value][]" value="{{findelementbykey ../config.value @index}}" />
                            </div>
                            <div class="col-2">
                                <div class="text-right">
                                    <a href="javascript:void(0)" title="{{i18n 'ADD'}}" onclick="WC.formUtil.productManager.fieldTypeAddConfigItem()">
                                        <i class="fa fa-plus-circle"></i>
                                    </a>
                                    <a href="javascript:void(0)" title="{{i18n 'REMOVE'}}" onclick="WC.formUtil.productManager.fieldTypeRemoveConfigItem(this)">
                                        <i class="fas fa-times-circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/elementnotempty}}
            {{/foreach}}
        {{/if}}
        <li class="field-type-config-item">
            <div class="row">
                <div class="col-1"><i class="fas fa-arrows-alt"></i></div>
                <div class="col-4">
                    <input type="text" class="form-control" class="form-control" name="commerce_form[params][config][key][]" value="" />
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" class="form-control" name="commerce_form[params][config][value][]" value="" />
                </div>
                <div class="col-2">
                    <div class="text-right">
                        <a href="javascript:void(0)" title="{{i18n 'ADD'}}" onclick="WC.formUtil.productManager.fieldTypeAddConfigItem()">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                        <a href="javascript:void(0)" title="{{i18n 'REMOVE'}}" onclick="WC.formUtil.productManager.fieldTypeRemoveConfigItem(this)">
                            <i class="fas fa-times-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</div>