<h3>{{i18n 'LABEL_SETUP'}} - {{field_type_title}}</h3>
<hr />
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label class="control-label" for="param_config_range_start">{{i18n 'LABEL_RANGE_MIN'}} ({{i18n 'OPTIONAL'}})</label>
            <input type="number" step="any" name="commerce_form[params][config][range][start]" id="param_config_range_start" class="form-control" value="{{config.range.start}}"/>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="control-label" for="param_config_range_end">{{i18n 'LABEL_RANGE_MAX'}} ({{i18n 'OPTIONAL'}})</label>
            <input type="number" step="any" name="commerce_form[params][config][range][end]" id="param_config_range_end" class="form-control" value="{{config.range.end}}"/>
        </div>
    </div>
</div>