<h3>{{i18n 'LABEL_SETUP'}} - {{field_type_title}}</h3>
<hr />
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label class="control-label" for="param_config_height">
                {{i18n 'LABEL_HEIGHT'}} / {{i18n 'LABEL_ROW'}} ({{i18n 'OPTIONAL'}})
            </label>
            <input type="text" name="commerce_form[params][config][height]" id="param_config_height"
                   class="form-control" value="{{config.height}}"/>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="control-label" for="param_config_width">
                {{i18n 'LABEL_WIDTH'}} / {{i18n 'LABEL_COLUMN'}} ({{i18n 'OPTIONAL'}})
            </label>
            <input type="text" name="commerce_form[params][config][width]" id="param_config_width"
                   class="form-control" value="{{config.width}}"/>
        </div>
    </div>
</div>