<div class="form-group">
    <label class="control-label" for="category_name">{{i18n 'LABEL_ORDERING_POSITION'}}</label>
    <div class="form-inline">
        <select class="form-control col-3" name="commerce_form[ordering_position]" id="ordering_position"
                onchange="WC.formUtil.toggleCategoryOrderingItem(this.value)">
            <option value=""></option>
            <option value="first"{{#eq item_data.ordering_position 'first'}} selected{{/eq}}>{{i18n 'FIRST'}}</option>
            <option value="last"{{#eq item_data.ordering_position 'last'}} selected{{/eq}}>{{i18n 'LAST'}}</option>
            <option value="before"{{#eq item_data.ordering_position 'before'}} selected{{/eq}}>{{i18n 'BEFORE'}}</option>
            <option value="after"{{#eq item_data.ordering_position 'after'}} selected{{/eq}}>{{i18n 'AFTER'}}</option>
        </select>
        <div class="input-group ml-2 mb-2" id="ordering_item_set" style="display: none;">
            <input type="text" class="form-control" id="category_name" disabled value="{{item_data.ordering_item.name}}" placeholder="{{i18n 'LABEL_MODAL_CATEGORY'}}" />
            <div class="input-group-append pointer" onclick="WC.categoryModal({title:'{{i18n 'LABEL_MODAL_CATEGORY'}}'})">
                <div class="input-group-text">{{i18n 'LABEL_BROWSE'}}</div>
            </div>
            <input type="hidden" name="commerce_form[ordering_item]" id="category_id" value="{{item_data.ordering_item.id}}" />
        </div>
    </div>
</div>