<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label class="control-label" for="field_type">{{i18n 'LABEL_FIELD_TYPE'}}</label>
            <select name="commerce_form[field_type]" id="field_type" class="form-control"
                    {{#if item_data.params}} data-config='{{json_encode item_data.params}}'{{/if}}
                    onchange="WC.formUtil.productManager.loadFieldType(this.value, this)">
                <option value="">{{i18n 'LABEL_SELECT_ONE'}}</option>
                {{#if fieldTypes}}
                    {{#each fieldTypes}}
                        <option value="{{this.value}}"{{#eq ../item_data.field_type this.value}} selected{{/eq}}>{{i18n this.text}}</option>
                    {{/each}}
                {{/if}}
            </select>
        </div>
        <div id="field_type_mandatory_fields"{{#unless item_data.params.name}} style="display:none;"{{/unless}}>
            <div class="form-group">
                <label class="control-label" for="param_name">{{i18n 'LABEL_NAME'}}</label>
                <input type="text" name="commerce_form[params][name]" id="param_name" class="form-control" value="{{item_data.params.name}}"/>
            </div>
            <div class="form-group">
                <label class="control-label">{{i18n 'REQUIRED'}}</label>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="param_required_yes" name="commerce_form[params][required]" class="custom-control-input" value="yes"
                        {{#eq item_data.params.required 'yes'}} checked{{/eq}}/>
                    <label class="custom-control-label" for="param_required_yes">{{i18n 'answer_yes'}}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="param_required_no" name="commerce_form[params][required]" class="custom-control-input" value="no"
                        {{#eq item_data.params.required 'no'}} checked{{/eq}}/>
                    <label class="custom-control-label" for="param_required_no">{{i18n 'answer_no'}}</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="param_default_value">{{i18n 'LABEL_DEFAULT_VALUE'}}</label>
                <input type="text" name="commerce_form[params][default_value]" id="param_default_value" class="form-control" value="{{item_data.params.default_value}}"/>
            </div>
        </div>
    </div>
    <div class="col-8" id="field_type_set"></div>
</div>
{{addscriptdeclaration 'WC.formUtil.productManager.loadFieldType();'}}