<div class="form-group">
    <label class="control-label" for="file_name">{{i18n 'LABEL_FILE'}}</label>
    <div class="input-group mb-2">
        <input type="text" class="form-control" id="file_name" disabled value="{{item_data.file.name}}" placeholder="{{i18n 'LABEL_FILE'}}" tabindex="-1" />
        <div class="input-group-append pointer" onclick="WC.assets.fileUpload(this);">
            <div class="input-group-text">{{i18n 'LABEL_BROWSE'}}</div>
        </div>
        <input type="hidden" name="commerce_form[file_id]" id="file_id" value="{{item_data.file.id}}" />
        <input type="file" name="commerce_form[file][]" class="hide" id="fileupload" tabindex="-1" />
    </div>
    {{#if item_data.file.is_image}}
        {{#if item_data.path}}
            <div class="img_preview">
                <a href="{{item_data.path}}" data-toggle="lightbox">
                    <img src="{{item_data.path}}" alt="{{item_data.file.name}}" class="rounded img-thumbnail" />
                </a>
            </div>
        {{/if}}
    {{/if}}
    {{#if item_data.file.is_doc}}
        {{#if item_data.path}}
            <div class="doc_link">
                <a href="{{item_data.path}}" title="{{item_data.file.name}}">{{item_data.file.name}}</a>
            </div>
        {{/if}}
    {{/if}}
</div>
{{addscriptdeclaration 'WC.utilities.applyLightBox()'}}