{{#ifnot this.is_protected}}
    {{#if actions.edit}}
        {{#if this.edit_id}}
            <a href="{{form_page}}?edit_id={{this.edit_id}}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;{{i18n 'LABEL_EDIT'}}</a>
        {{else}}
            <a href="{{form_page}}?edit_id={{this.id}}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;{{i18n 'LABEL_EDIT'}}</a>
        {{/if}}
    {{/if}}
    {{#if actions.delete}}
        &nbsp;
        <a href="javascript:void(0)"
           onclick="WC.delete('{{delete_api_endpoint}}', '{{#if this.edit_id}}{{this.edit_id}}{{else}}{{this.id}}{{/if}}')"
           class="btn btn-primary btn-sm"><i class="fas fa-times-circle"></i>&nbsp;{{i18n 'LABEL_DELETE'}}</a>
    {{/if}}
{{/ifnot}}