{{#ifnot this.is_protected}}
    {{#if actions.edit}}
        <a href="{{form_page}}?edit_id={{#if this.edit_id}}{{this.edit_id}}{{else}}{{this.id}}{{/if}}">
        {{#eq this.name 'ROOT'}}{{language.LABEL_ROOT}}{{else}}{{this.name}}{{/eq}}
        </a>
    {{/if}}
    {{#unless actions.edit}}
        {{#eq this.name 'ROOT'}}{{language.LABEL_ROOT}}{{else}}{{this.name}}{{/eq}}
    {{/unless}}
{{else}}
    {{#eq this.name 'ROOT'}}{{language.LABEL_ROOT}}{{else}}{{this.name}}{{/eq}}
{{/ifnot}}