<div class="form-group">
    <label class="control-label" for="folder_name">{{i18n 'LABEL_FOLDER'}}</label>
    <div class="input-group mb-2">
        <input type="text" class="form-control" id="folder_name" disabled
               value="{{item_data.folder.name}}"
               placeholder="{{i18n 'LABEL_FOLDER'}}" />
        <div class="input-group-append pointer" onclick="WC.folderModal({title:'{{i18n 'LABEL_FOLDER'}}'})">
            <div class="input-group-text">{{i18n 'LABEL_BROWSE'}}</div>
        </div>
        <input type="hidden" name="commerce_form[folder_id]" id="folder_id"
            value="{{item_data.folder.id}}" />
    </div>
</div>