<div class="form-group">
    <label class="control-label" for="weight_name">{{i18n 'LABEL_MODAL_WEIGHT'}}</label>
    <div class="input-group mb-2">
        <input type="text" class="form-control" id="weight_name" disabled
               value="{{item_data.weight.name}}"
               placeholder="{{i18n 'LABEL_MODAL_WEIGHT'}}" />
        <div class="input-group-append pointer" onclick="WC.weightModal({title:'{{i18n 'LABEL_MODAL_WEIGHT'}}'})">
            <div class="input-group-text">{{i18n 'LABEL_BROWSE'}}</div>
        </div>
        <input type="hidden" name="commerce_form[weight_id]" id="weight_id"
               value="{{item_data.weight.id}}" />
    </div>
</div>