<div class="form-group">
    <label class="control-label" for="address_name">{{i18n 'LABEL_MODAL_ADDRESS'}}</label>
    <div class="input-group mb-2">
        <input type="text" class="form-control" id="address_name" disabled value="{{item_data.address.name}}" placeholder="{{i18n 'LABEL_MODAL_ADDRESS'}}" />
        <div class="input-group-append pointer" onclick="WC.addressModal({title:'{{i18n 'LABEL_MODAL_ADDRESS'}}'})">
            <div class="input-group-text">{{i18n 'LABEL_BROWSE'}}</div>
        </div>
        <input type="hidden" name="commerce_form[address_id]" id="address_id" value="{{item_data.address.id}}" />
    </div>
</div>