<div class="form-group">
    <label class="control-label" for="product_1_name">{{i18n 'LABEL_MODAL_PRODUCT_1'}}</label>
    <div class="input-group mb-2">
        <input type="text" class="form-control" id="product_1_name" disabled
               value="{{item_data.product_1.name}}"
               placeholder="{{i18n 'LABEL_MODAL_PRODUCT_1'}}" />
        <div class="input-group-append pointer" onclick="WC.productOneModal({title:'{{i18n 'LABEL_MODAL_PRODUCT_1'}}'})">
            <div class="input-group-text">{{i18n 'LABEL_BROWSE'}}</div>
        </div>
        <input type="hidden" name="commerce_form[product_1_id]" id="product_1_id"
               value="{{item_data.product_1.id}}" />
    </div>
</div>