<div class="form-group">
    <label class="control-label" for="payment_method_name">{{i18n 'LABEL_MODAL_PAYMENT_METHOD'}}</label>
    <div class="input-group mb-2">
        <input type="text" class="form-control" id="payment_method_name" disabled
               value="{{item_data.payment_method.name}}"
               placeholder="{{i18n 'LABEL_MODAL_PAYMENT_METHOD'}}" />
        <div class="input-group-append pointer" onclick="WC.paymentMethodModal({title:'{{i18n 'LABEL_MODAL_PAYMENT_METHOD'}}'})">
            <div class="input-group-text">{{i18n 'LABEL_BROWSE'}}</div>
        </div>
        <input type="hidden" name="commerce_form[payment_method_id]" id="payment_method_id"
               value="{{item_data.payment_method.id}}" />
    </div>
</div>