<div class="form-group">
    <label class="control-label" for="payment_service_name">{{i18n 'LABEL_MODAL_PAYMENT_SERVICE'}}</label>
    <div class="input-group mb-2">
        <input type="text" class="form-control" id="payment_service_name" disabled
               value="{{item_data.payment_service.name}}"
               placeholder="{{i18n 'LABEL_MODAL_PAYMENT_SERVICE'}}" />
        <div class="input-group-append pointer" onclick="WC.paymentServiceModal({title:'{{i18n 'LABEL_MODAL_PAYMENT_SERVICE'}}'})">
            <div class="input-group-text">{{i18n 'LABEL_BROWSE'}}</div>
        </div>
        <input type="hidden" name="commerce_form[payment_service_id]" id="payment_service_id"
               value="{{item_data.payment_service.id}}" />
    </div>
</div>
<div id="payment_service_fieldset">
    {{#if item_data.payment_service.id}}
        {{#eq item_data.payment_service.id 'paypal'}}
            {{require "payment-service-paypal" this}}
        {{/eq}}
        {{#eq item_data.payment_service.id 'stripe'}}
            {{require "payment-service-stripe" this}}
        {{/eq}}
    {{/if}}
</div>