<div class="form-group">
    <label class="control-label" for="temperature_name">{{i18n 'LABEL_MODAL_TEMPERATURE'}}</label>
    <div class="input-group mb-2">
        <input type="text" class="form-control" id="temperature_name" disabled
               value="{{item_data.temperature.name}}"
               placeholder="{{i18n 'LABEL_MODAL_TEMPERATURE'}}" />
        <div class="input-group-append pointer" onclick="WC.temperatureModal({title:'{{i18n 'LABEL_MODAL_TEMPERATURE'}}'})">
            <div class="input-group-text">{{i18n 'LABEL_BROWSE'}}</div>
        </div>
        <input type="hidden" name="commerce_form[temperature_id]" id="temperature_id"
               value="{{item_data.temperature.id}}" />
    </div>
</div>