{{#if pagination}}
    {{#noteq pagination.numPerPage 'all'}}
        <nav aria-label="Pagination">
            <ul class="pagination">
                {{#lt pagination.prev 1}}
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-disabled="true">{{i18n 'PREVIOUS'}}</a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="{{pathPfx}}{{pathInfo.uri}}?page={{pagination.prev}}">{{i18n 'PREVIOUS'}}</a>
                    </li>
                {{/lt}}
                {{#gt pagination.next 0}}
                    <li class="page-item">
                        <a class="page-link" href="{{pathPfx}}{{pathInfo.uri}}?page={{pagination.next}}">{{i18n 'NEXT'}}</a>
                    </li>
                {{else}}
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-disabled="true">{{i18n 'NEXT'}}</a>
                    </li>
                {{/gt}}
            </ul>
        </nav>
    {{/noteq}}
{{/if}}