<div id="commerce-alert-container"></div>
<div id="commerce-items-assets">
    <div class="card mb-3">
        <div class="card-header bg-light">
            <div class="row">
                <div class="col-6"><h3 class="mb-0 mt-0">{{page_title}}</h3></div>
                <div class="col-6">
                    <div class="text-right">
                        <a href="javascript:void(0)" onclick="WC.delete('{{delete_api_endpoint}}', $(this).attr('data-id'))"
                           data-id="0" data-btn="delete" class="btn btn-danger hide">
                            <i class="fa fa-times-circle"></i>&nbsp;{{i18n 'LABEL_DELETE'}}
                        </a>
                        <a href="#" data-btn="edit" data-folder-url="/{{folder_form_page}}" data-file-url="/{{file_form_page}}" class="btn btn-primary hide">
                            <i class="fa fa-edit"></i>&nbsp;{{i18n 'LABEL_EDIT'}}
                        </a>
                        <a href="{{folder_form_page}}" data-btn="create" class="btn btn-primary"><i class="fa fa-folder"></i>&nbsp;{{i18n 'LABEL_ADD_FOLDER'}}</a>
                        <a href="{{file_form_page}}" data-btn="create" class="btn btn-primary"><i class="fa fa-image"></i>&nbsp;{{i18n 'LABEL_ADD_FILE'}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body text-justify">
            <div class="commerce-items assets" id="commerce-items-list">
                <div class="panel-body-wrapper">
                    <div class="panel-body">
                        <div class="panel-body-content">
                            <div class="panel-body-content-columns">
                                {{#unless list}}<div class="alert alert-info">{{i18n 'NO_RESULTS'}}</div>{{/unless}}
                                {{#if list}}{{require "partials/column" this}}{{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>WC.assets.init();</script>