<form action="{{pathPfx}}{{formAction}}{{#if item_data.edit_id}}?edit_id={{item_data.edit_id}}{{else}}{{#if item_data.id}}?edit_id={{item_data.id}}{{/if}}{{/if}}"
    method="post" class="commerce-form assets"{{#if fieldKeys.file}} enctype="multipart/form-data"{{/if}}>
    <div class="card mb-3">
        <div class="card-header bg-light">
            <div class="row">
                <div class="col-6"><h3 class="mb-0 mt-0">{{page_title}}</h3></div>
                <div class="col-6">
                    <div class="text-right">
                        {{#if actions.cancel}}<a href="{{list_page}}" class="btn btn-primary"><i class="fa fa-chevron-left"></i>&nbsp;{{i18n 'LABEL_BACK'}}</a>{{/if}}
                        &nbsp;
                        {{#if actions.save}}<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;{{i18n 'LABEL_SAVE'}}</button>{{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body text-justify">
            {{#if fieldKeys.name}}
                <div class="form-group">
                    <label class="control-label" for="title">{{i18n 'LABEL_NAME'}}</label>
                    <input type="text" name="commerce_form[title]" id="title" class="form-control"
                           data-validation="required"
                           value="{{#if item_data.name}}{{item_data.name}}{{else}}{{item_data.title}}{{/if}}"/>
                </div>
            {{/if}}
            {{#if fieldKeys.description}}
                <div class="form-group">
                    <label class="control-label" for="description">{{i18n 'LABEL_DESCRIPTION'}}</label>
                    <textarea name="commerce_form[description]" id="description" class="form-control basic">{{item_data.description}}</textarea>
                </div>
            {{/if}}
            {{#if fieldKeys.modal_folder}}{{require "partials/modal_folder" this}}{{/if}}
            {{#if fieldKeys.file}}{{require "partials/file" this}}{{/if}}
            {{#if additional_params}}
                {{#each additional_params}}<input type="hidden" name="commerce_form[type]" value="{{this.type}}" />{{/each}}
            {{/if}}
            <input type="hidden" name="commerce_form[edit_id]" value="{{#if item_data.edit_id}}{{item_data.edit_id}}{{else}}{{item_data.id}}{{/if}}"/>
            <input type="hidden" name="csrftoken" value="{{csrftoken}}"/>
        </div>
    </div>
</form>
<script>WC.observers.init();WC.formUtil.init();</script>