<div class="PaymentServiceFieldSet">
    <div class="form-group label-floating">
        <label for="client_id">{{i18n 'client_id'}}</label>
        <input type="text" class="form-control" id="client_id" name="commerce_form[payment_api][client_id]" value="{{item_data.payment_service.client_id}}" />
    </div>
    <div class="form-group label-floating">
        <label for="client_secret">{{i18n 'client_secret'}}</label>
        <input type="text" class="form-control" id="client_secret" name="commerce_form[payment_api][client_secret]" value="{{item_data.payment_service.client_secret}}" />
    </div>
    <div class="form-group label-floating">
        <label for="paytype">{{i18n 'paytype'}}</label>
        <select id="paytype" name="commerce_form[payment_api][paytype]" class="form-control selectpicker">
            <option value="">{{i18n 'SELECT_ONE'}}</option>
            <option value="credit_card"{{#eq 'credit_card' item_data.payment_service.paytype}} selected{{/eq}}>{{i18n 'CREDIT_CARD'}}</option>
            <option value="paypalhere"{{#eq 'paypalhere' item_data.payment_service.paytype}} selected{{/eq}}>{{i18n 'PAYPALHERE'}}</option>
        </select>
    </div>
</div>