<div id="commerce-alert-container"></div>
<div class="card mb-3">
    <div class="card-header bg-light">
        <div class="row">
            <div class="col-6"><h3 class="mb-0 mt-0">{{page_title}}</h3></div>
            {{#if actions.add}}
                <div class="col-6">
                    <div class="text-right">
                        <a href="{{form_page}}" class="btn btn-primary"><i class="fas fa-plus-circle"></i>&nbsp;{{i18n 'LABEL_ADD'}}</a>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="card-body text-justify">
        <div id="commerce-items-list">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    {{#if fieldKeys.id}}<th class="small-col">{{fieldLabels.id}}</th>{{/if}}
                    {{#if fieldKeys.name}}<th>{{fieldLabels.name}}</th>{{/if}}
                    {{#if fieldKeys.name}}<th>{{fieldLabels.price}}</th>{{/if}}
                    {{#if fieldKeys.description}}<th>{{fieldLabels.description}}</th>{{/if}}
                    {{#if fieldKeys.sku}}<th>{{fieldLabels.sku}}</th>{{/if}}
                    {{#if fieldKeys.file}}<th>{{fieldLabels.file}}</th>{{/if}}
                    {{#if fieldKeys.product_type}}<th>{{fieldLabels.product_type}}</th>{{/if}}
                    {{#if fieldKeys.in_stock}}<th class="small-col">{{fieldLabels.in_stock}}</th>{{/if}}
                    {{#if fieldKeys.published_start}}<th>{{fieldLabels.published_start}}</th>{{/if}}
                    {{#if fieldKeys.published_end}}<th>{{fieldLabels.published_end}}</th>{{/if}}
                    {{#if fieldKeys.action}}<th>{{i18n 'LABEL_ACTION'}}</th>{{/if}}
                </thead>
                <tbody>
                {{#if list}}
                    {{#each list}}
                        <tr>
                            {{#if ../fieldKeys.id}}<td>{{this.id}}</td>{{/if}}
                            {{#if ../fieldKeys.name}}
                                <td>
                                    {{#if ../actions.edit}}
                                        <a href="{{../form_page}}?edit_id={{#if this.edit_id}}{{this.edit_id}}{{else}}{{this.id}}{{/if}}">{{this.name}}</a>
                                    {{/if}}
                                    {{#unless ../actions.edit}}
                                        {{this.name}}
                                    {{/unless}}
                                </td>
                            {{/if}}
                            {{#if ../fieldKeys.price}}<td>{{this.currency.params.symbol}}{{numberformat this.price}} {{this.currency.params.code_3}}</td>{{/if}}
                            {{#if ../fieldKeys.description}}<td class="desc-more-less">{{{plaintext this.description}}}</td>{{/if}}
                            {{#if ../fieldKeys.sku}}<td>{{this.sku}}</td>{{/if}}
                            {{#if ../fieldKeys.file}}<td>{{this.file}}</td>{{/if}}
                            {{#if ../fieldKeys.product_type}}<td>{{this.product_type.name}}</td>{{/if}}
                            {{#if ../fieldKeys.in_stock}}<td>{{#eq this.in_stock -1}}N/A{{else}}{{this.in_stock}}{{/eq}}</td>{{/if}}
                            {{#if ../fieldKeys.published_start}}<td>{{this.published_start}}</td>{{/if}}
                            {{#if ../fieldKeys.published_end}}<td>{{this.published_end}}</td>{{/if}}
                            {{#if ../fieldKeys.action}}
                                <td class="{{#if ../actions.delete}}small-col-2{{else}}small-col-1{{/if}}" align="center">
                                    {{#if ../actions.edit}}
                                        {{#if this.edit_id}}
                                            <a href="{{../form_page}}?edit_id={{this.edit_id}}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;{{i18n 'LABEL_EDIT'}}</a>
                                        {{else}}
                                            <a href="{{../form_page}}?edit_id={{this.id}}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;{{i18n 'LABEL_EDIT'}}</a>
                                        {{/if}}
                                    {{/if}}
                                    &nbsp;
                                    {{#if ../actions.delete}}
                                        <a href="javascript:void(0)"
                                           onclick="WC.delete('{{../delete_api_endpoint}}', '{{#if this.edit_id}}{{this.edit_id}}{{else}}{{this.id}}{{/if}}')"
                                           class="btn btn-primary btn-sm"><i class="fas fa-times-circle"></i>&nbsp;{{i18n 'LABEL_DELETE'}}</a>
                                    {{/if}}
                                </td>
                            {{/if}}
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="{{fieldLabels.length}}">{{i18n 'NO_RESULTS'}}</td>
                    </tr>
                {{/if}}
                </tbody>
            </table>
            {{require "partials/pagination" this}}
        </div>
    </div>
</div>
{{addscriptdeclaration "WC.utilities.applyMoreLess('.desc-more-less')"}}